
@use "./mixins" as *;
@use "./functions" as *;
// =================================================================

$header-w: 100vw; //cn(1535);/* [x] */
$header__0-h: calc($header-w / 42.6); //cn(36);/* [x] */
$header__1-h: calc($header-w / 24);   //cn(36);/* [x] */

$px: calc($header-w / 1535); //cn(1);/* [x] */

//--- --- --- --- --- --- --- --- --- --- ---
$t-02s: 0.2s;
$t-03s: 0.3s;/* [x] */
$t-05s: 0.5s;

:root {
  /*-- 30 -- #F50963 --*/
  --c30-h: ​337.12;  --c30-s: 92.91%;  --c30-l:49.8%;  --c30-hsl: 337.12,92.91%,49.8%;  --c30:hsl(337.12deg,92.91%,49.8%);

  // --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ---

  --s: 1;/* 1s */
  --px: 1px;/* default-1px */
  --p: #{cn(20)};/* default-padding */
  --b-r: #{cn(8)};/* border-radius */

  --font-family: 'Inter', sans-serif;


}
.light {
  /*-- 10 -- #181818 --*/
  --c10-h: 0;    --c10-s: 0%;    --c10-l:9.41%;    --c10-hsl: 0,0%,9.41%;    --c10:hsl(0,0%,9.41%);

  /*-- 60 -- #DFDDE4 --*/
  --c60-h: 257.14;  --c60-s: 11.47%;  --c60-l:88.04%;  --c60-hsl: 257.14,11.47%,88.04%;  --c60:hsl(257.14,11.47%,88.04%);

  /*-- text -- #000000 --*/
  --ctext:#000000;

  // Bootstrap------
  --cdark:                          hsl(0, 0%, 20%);   //#343a40;
  --clight:                         hsl(0, 0%, 95%);     //#f8f9fa;
  --cprimary:                       hsl(212, 94%, 30%);    //#007bff;
  --csuccess:                       hsl(158, 100%, 43%);    //#28a745;
  --cwarning:                       hsl(47, 86%, 39%);    //#ffc107;
  --cdanger:                        hsl(0, 86%, 39%);    //#dc3545;

  --csecondary:                     hsl(208, 7%, 26%);    //#6c757d;
  --cinfo:                          hsl(188, 78%, 21%);    //#17a2b8;
  --clink:                          hsl(354, 70%, 34%);    //#dc3545;



  transition: all $t-03s ease-in-out 0s;
}
.dark {
  /*-- 10 -- #e7e7e7 --*/
  --c10-h: 0;  --c10-s: 0%;  --c10-l:90.58%;  --c10-hsl: 0,0%,90.58%;  --c10:hsl(0,0%,90.58%);

  /*-- 60 -- #20221b --*/
  --c60-h: 77.14;  --c60-s: 11.47%;  --c60-l:11.96%;  --c60-hsl: 77.14,11.47%,11.96%;  --c60:hsl(77.14,11.47%,11.96%);

  /*-- text -- #ffffff --*/
  --ctext:#ffffff;

  // Bootstrap------
  --cdark:                          hsl(0, 0%, 95%);    //#343a40;
  --clight:                         hsl(0, 0%, 20%);    //#f8f9fa;
  --cprimary:                       hsl(212, 94%, 50%);    //#007bff;
  --csuccess:                       hsl(158, 100%, 63%);    //#28a745;
  --cwarning:                       hsl(47, 86%, 59%);    //#ffc107;
  --cdanger:                        hsl(0, 86%, 59%);    //#dc3545;

  --csecondary:                     hsl(208, 7%, 46%);    //#6c757d;
  --cinfo:                          hsl(188, 78%, 41%);    //#17a2b8;
  --clink:                          hsl(354, 70%, 54%);    //#dc3545;



  transition: all $t-03s ease-in-out 0s;
}

// =================================================================


//#region { Global-color }
//!*/--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ----/*|*/
//!*/           [ c10 ]            /*|*/           [ c30 ]            /*|*/           [ c60 ]            /*|*/
//!*/--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ----/*|*/
/*|*/$c10:var(--c10);/* #000000;   /*|*/$c30:var(--c30);/* #999999;   /*|*/$c60:var(--c60);/* #ffffff;   /*|*/
/*|*/                              /*|*/                              /*|*/                              /*|*/
//|*/         --func--             /*|*/         --func--             /*|*/         --func--             /*|*/
//|*/           --l--              /*|*/           --l--              /*|*/           --l--              /*|*/
/*|*/$c10-l01: chsla(c10, $l:   1);/*|*/$c30-l01: chsla(c30, $l:   1);/*|*/$c60-l01: chsla(c60, $l:   1);/*|*/
/*|*/$c10-l02: chsla(c10, $l:   2);/*|*/$c30-l02: chsla(c30, $l:   2);/*|*/$c60-l02: chsla(c60, $l:   2);/*|*/
/*|*/$c10-l03: chsla(c10, $l:   3);/*|*/$c30-l03: chsla(c30, $l:   3);/*|*/$c60-l03: chsla(c60, $l:   3);/*|*/
/*|*/$c10-l04: chsla(c10, $l:   4);/*|*/$c30-l04: chsla(c30, $l:   4);/*|*/$c60-l04: chsla(c60, $l:   4);/*|*/
/*|*/$c10-l05: chsla(c10, $l:   5);/*|*/$c30-l05: chsla(c30, $l:   5);/*|*/$c60-l05: chsla(c60, $l:   5);/*|*/
/*|*/$c10-l06: chsla(c10, $l:   6);/*|*/$c30-l06: chsla(c30, $l:   6);/*|*/$c60-l06: chsla(c60, $l:   6);/*|*/
/*|*/$c10-l07: chsla(c10, $l:   7);/*|*/$c30-l07: chsla(c30, $l:   7);/*|*/$c60-l07: chsla(c60, $l:   7);/*|*/
/*|*/$c10-l08: chsla(c10, $l:   8);/*|*/$c30-l08: chsla(c30, $l:   8);/*|*/$c60-l08: chsla(c60, $l:   8);/*|*/
/*|*/$c10-l09: chsla(c10, $l:   9);/*|*/$c30-l09: chsla(c30, $l:   9);/*|*/$c60-l09: chsla(c60, $l:   9);/*|*/
//|*/           --a--              /*|*/           --a--              /*|*/           --a--              /*|*/
/*|*/$c10-a01: rhsla(c10, $a: 0.1);/*|*/$c30-a01: rhsla(c30, $a: 0.1);/*|*/$c60-a01: rhsla(c60, $a: 0.1);/*|*/
/*|*/$c10-a02: rhsla(c10, $a: 0.2);/*|*/$c30-a02: rhsla(c30, $a: 0.2);/*|*/$c60-a02: rhsla(c60, $a: 0.2);/*|*/
/*|*/$c10-a03: rhsla(c10, $a: 0.3);/*|*/$c30-a03: rhsla(c30, $a: 0.3);/*|*/$c60-a03: rhsla(c60, $a: 0.3);/*|*/
/*|*/$c10-a04: rhsla(c10, $a: 0.4);/*|*/$c30-a04: rhsla(c30, $a: 0.4);/*|*/$c60-a04: rhsla(c60, $a: 0.4);/*|*/
/*|*/$c10-a05: rhsla(c10, $a: 0.5);/*|*/$c30-a05: rhsla(c30, $a: 0.5);/*|*/$c60-a05: rhsla(c60, $a: 0.5);/*|*/
/*|*/$c10-a06: rhsla(c10, $a: 0.6);/*|*/$c30-a06: rhsla(c30, $a: 0.6);/*|*/$c60-a06: rhsla(c60, $a: 0.6);/*|*/
/*|*/$c10-a07: rhsla(c10, $a: 0.7);/*|*/$c30-a07: rhsla(c30, $a: 0.7);/*|*/$c60-a07: rhsla(c60, $a: 0.7);/*|*/
/*|*/$c10-a08: rhsla(c10, $a: 0.8);/*|*/$c30-a08: rhsla(c30, $a: 0.8);/*|*/$c60-a08: rhsla(c60, $a: 0.8);/*|*/
/*|*/$c10-a09: rhsla(c10, $a: 0.9);/*|*/$c30-a09: rhsla(c30, $a: 0.9);/*|*/$c60-a09: rhsla(c60, $a: 0.9);/*|*/
//!*/--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ----/*|*/
//|*/Bootstrap:------                                                                                    /*|*/
/*|*/$c_dark:                      var(--cdark);     /* #333333 | #343a40 | #343a40*/                    /*|*/
/*|*/$c_link:                      var(--clight);    /* #F3F3F3 | #f8f9fa | #f8f9fa*/                    /*|*/
/*|*/$c_primary:                   var(--cprimary);  /* #3C8FF0 | #007bff | #007bff*/                    /*|*/
/*|*/$c_success:                   var(--csuccess);  /* #40FFB9 | #28a745 | #28a745*/                    /*|*/
/*|*/$c_warning:                   var(--cwarning);  /* #F0C93C | #ffc107 | #ffc107*/                    /*|*/
/*|*/$c_danger:                    var(--cdanger);   /* #F03C3C | #dc3545 | #dc3545*/                    /*|*/
/*|*/$c_secondary:                 var(--csecondary);/* #6c757d | #6c757d | #6c757d*/                    /*|*/
/*|*/$c_info:                      var(--cinfo);     /* #17a2b8 | #17a2b8 | #17a2b8*/                    /*|*/
/*|*/$c_light:                     var(--clink);     /* #dc3545 | #dc3545 | #dc3545*/                    /*|*/
//!*/--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ----/*|*/
//#endregion

//#region { Global-color }
//!*/--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ----/*|*/
/*|*/$ctext:var(--ctext);                                                 /* [x] */                              /*|*/
/*|*/$cbr:#{$c30-a04};                                            /* [x] */                              /*|*/
/*|*/$chover:var(--cdanger);                                      /* [x] */                              /*|*/
/*|*/                                                             /* [ ] */                              /*|*/
//!*/--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- ----/*|*/
//#endregion

//--- --- --- --- --- --- --- --- --- --- ---
//--- --- --- --- --- --- --- --- --- --- ---


